button{
    background-color: #ffa026;
    color: white;
    border: solid 2px #ffa026;
    border-radius: 25px;
    /* width: 35%; */
    margin-top: 3%;
    padding: 0.6rem 0.5;
    transition: 0.3s;
}